/* https/www.modularscale.com/6&px&1.067 */

/* Variables */
:root {
    /* colors */
    --pink: hsl(322, 100%, 66%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    /* Font-family */
    --headings: 'Poppins', sans-serif;
    --body: 'Open Sans', sans-serif;
}

/* Text Highlights */

::selection {
    background: var(--pink); /* Webkit/Blink Browsers */
}

::-moz-selection {
    background: var(--pink); /* Gecko Browsers */
}

/* input - placeholder */

::placeholder {
    color: lightgray;
    opacity: 1; /* Firefox */
}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--very-dark-cyan);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: var(--very-pale-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--very-pale-blue);
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--pink);
}

/* ::-webkit-scrollbar-thumb:window-inactive {
    background: white;
} */

/* Globals */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    margin: 0;
    font-family: var(--body);
    /* background: wheat; */
    text-align: center;
    color: var(--very-dark-cyan);
}

h1,
h2,
h3,
h4 {
    font-family: var(--headings);
}

.img-illu {
    width: 100%;
}

.img .img-illu:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

a.btn {
    color: var(--pink);
    /* border: 1px solid var(--pink); */
    border-radius: 50px;
    padding: .8rem 2.5rem;
    font-weight: 600;
    color: var(--very-pale-blue);
    background-color: var(--pink);
    display: inline-block;
    font-size: 0.878rem;
    transition: .5s background-color,
                .5s all;
    outline: transparent; 
}

a.btn:hover,
a.btn:focus {
    background-color: transparent;
    border: 1px solid var(--pink);
    color: var(--pink);
    font-weight: 400;
}

a.btn:active {
    background-color: var(--very-dark-cyan);
    color: var(--very-pale-blue);
    border: none;
    font-weight: 600;
}

.btn-boxshadow {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

/* Header */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

nav {
    padding: 15px 5vw;
    animation: UptoDown 1.5s ease,
                FadeIn 1.5s ease-in;
}

nav a {
    outline: none;
    position: relative;
}

nav figure {
    margin: 0;
    display: block;
}

nav figure img {
    width: 120px;
    display: block;
}

nav a > figure::after {
    content: '';
    background-color: var(--pink);
    height: .5rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -11px;
    opacity: 1;
    transform: scaleX(0.1);
    transform-origin: left;
    opacity: 0;
    transition: .5s ease-in-out transform,
                .7s ease-in-out opacity;
}

nav a:hover > figure::after,
nav a:focus > figure::after {
    transform: scaleX(1);
    opacity: 1;
}

nav a.btn {
    color: var(--pink);
    font-weight: normal;
    padding: .25rem 1rem;
    font-size: 0.772rem;
    background-color: transparent;
    border: 1px solid var(--pink);
}

nav a.btn:hover,
nav a.btn:focus {
    color: var(--very-pale-blue);
    background-color: var(--pink);
}

.header-text {
    margin-top: 15vh;
    animation: Rotateandsmalltobig 1.5s ease,
               FadeIn 1.5s ease; 
}

.header-text h1 {
    font-size: 1.68rem;
    max-width: 300px;
    margin: 0 auto;
}

.header-text p {
    font-size: 0.937rem;
    max-width: 315px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin: 20px auto 40px auto;
}

header figure.header {
    margin-top: 90px;
    animation: DowntoUp 1.5s ease,
               FadeIn 1.5s ease, 
}

/* Milestone */

section.milestone {
    margin: 150px auto;
}

.milestone-items {
    display: grid;
    max-width: 200px;
    margin: 50px auto;
}

.milestone-items figure {
    margin: 0;
    justify-self: start;
}

.milestone-items figure img {
    max-width: 30px;
    margin-left: 5px;
}

.milestone-items figure img:hover {
    transform: scale(1.1);
}

.milestone-items h2 {
    font-size: 4.479rem;
    margin: 0;
}

.milestone-items small {
    font-size: 0.937rem;
    color: #b9b5b5;
}

/* Feature */

section.feature {
    margin: 50px auto 100px auto;
}

.feature-items {
    margin: 150px auto;
    padding: 1rem 0 7rem 0;
    position: relative;
}

.feature-items:nth-child(odd) {
    background-color: var(--very-pale-blue);
}

.feature-items:nth-child(odd)::before,
.feature-items:nth-child(odd)::after {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    left: 0;
}

.feature-items:nth-child(1)::before {
    background-image: url('../images/bg-section-top-mobile-1.svg');
    height: 8rem;
    top: -8rem;
}

.feature-items:nth-child(1)::after {
    background-image: url('../images/bg-section-top-mobile-1.svg');
    background-size: contain;
    height: 14rem;
    top: -8rem;
}

.feature-items:nth-child(3)::before {
    background-image: url('../images/bg-section-top-mobile-2.svg');
    height: 8rem;
    top: -8rem;
}

.feature-items:nth-child(3)::after {
    background-image: url('../images/bg-section-top-mobile-2.svg');
    background-size: contain;
    height: 14rem;
    top: -10rem;
}

.feature-items figure {
    margin-bottom: 70px;
}

.feature-items p {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.937rem;
}

/* Community */

section.community {
    margin: 200px auto;
}

section.community h2 {
    max-width: 300px;
    margin: 40px auto 40px auto;
    font-size: 1.68rem;
}

/* Footer */

footer {
    color: var(--very-pale-blue);
    background-color: var(--very-dark-cyan);
    text-align: left;
    position: relative;
    padding: 90px 0;
    font-size: 0.937rem;
}

footer::before {
    content: '';
    background-image: url('../images/bg-footer-top-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 10rem;
    position: absolute;
    top: -50px;
    left: 0;
}

.ftr-container {
    margin: 0 7vw;
    display: grid;
    grid-template-areas:
        "news"
        "company"
        "social";
}

.fte-info {
    margin-bottom: 20px;
    grid-area: company;
}

.company-logo figure {
    margin: 0;
    display: inline-block;
}

.company-logo img {
    filter: contrast(0) brightness(100);
    max-width: 180px;
}

.company-logo a {
    position: relative;
    outline: transparent;
}

.company-logo a > figure::after {
    content: '';
    background-color: var(--very-pale-blue);
    height: .5rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
    opacity: 1;
    transform: scaleX(0.1);
    transform-origin: left;
    opacity: 0;
    transition: .5s ease-in-out transform,
                .7s ease-in-out opacity,
                .5s ease-in-out background-color;
}

.company-logo a:hover > figure::after,
.company-logo a:focus > figure::after {
    transform: scaleX(1);
    opacity: 1;
    background-color: var(--pink);
}

.company-descrip p {
    max-width: 350px;
}

.company-info {
    margin-top: 25px;
}

.company-info figure {
    margin: 0 1rem 0 0;
    display: inline-block;
    height: 18px;
}

.company-info figure img {
    height: 18px;
}

.comp-tel-num,
.comp-email {
    display: flex;
    align-items: center;
}

.comp-tel-num p,
.comp-email p {
    margin: 10px 0;
    transition: .5s all;
}

.comp-tel-num p:hover,
.comp-email p:hover {
    color: var(--pink);
}

.ftr-newsletter {
    margin: 50px 0 80px 0;
    grid-area: news;
}

.ftr-newsletter h2 {
    font-family: var(--body);
    text-transform: uppercase;
}

.ftr-newsletter p {
    max-width: 330px;
}

.ftr-newsletter form {
    max-width: 330px;
}

.ftr-newsletter form input {
    outline: transparent;
    height: 2.5rem;
    border-radius: 5px;
    margin: 5px auto;
    padding: 0 1rem;
    border: transparent;
    font-weight: 600;
}

#newsletter-input-button {
    width: 8.5rem;
    background-color: var(--pink);
    color: var(--very-pale-blue);
    box-shadow: rgba(0, 0, 0, 0.25);
    font-family: var(--body);
    float: right;
    cursor: pointer;
    transition: .5s all;
}













